* {
    margin:0px;
    padding: 0px;
    border:0px;
    font-weight: normal;
}
.titulo{/* el nombre debe ser igual a la clase */
    color: red ;
    text-align: center;/* solo para texto no para div */
    text-decoration: line-through;
    text-decoration: overline;
    text-decoration: underline;
    text-transform: capitalize;
    /* mayusculas y minusculas*/
    text-transform: uppercase;
    text-transform: lowercase;
    /* decoracion para el titulo*/
    text-shadow: 0px 0px 10px #ff0000;
    /* fuente de letra y sus respaldos  y el tamaño*/
     font-family: 'Courier New', Courier, monospace;
     font-size:25px;
     font-weight: bolder;
     font-style: italic; /*inclinacion*/
     /*margenes*/
     margin :10px;
     margin: 20px 10px;/*arriba y los laterales*/
     margin: 50px 40px 30px 20px;/*como las manecillas del reloj formal1*/
    /*forma 2*/
     margin-top: 20px;
     margin-bottom: 10;
     margin-left :5px ;
      margin-right :5px ;
      
 padding: 25px;  /*siempre que hay un margin se hacen padding para que se ajusten*/
 /*bordes*/
 border-color: blue;
 border-width: 5px;
 border-style: solid;
 border-style: double;
 border-style: dotted;
 /*version corta de las tres ultimas*/
 border:10px solid red;
 /*redondear esquinas*/
 border-radius: 16px;
 /*modificar una linea */
 border-left: red;
 border-left-width: 5px;
 /*radios por esquinas*/
 border-top-left-radius: 0px;
 border-bottom-left-radius:0px;
 
}
.circulo{
    width: 250px;
    height: 250px;
    border:1px solid green;
    border-radius: 50%;
    /*hacen lo mismo*/
    background: lightgreen;
    background-color: greenyellow;
    /*imagen dentro del circulo*/
    background-image: url('../recursos/imagencss.webp');
    background-size: 50px;
    /*para que no se repita*/
    background-repeat: no-repeat;
    background-size: 100%;
    /*funciona igual que el de arriba*/
    /* background-size: cover;
     /*alto y ancho
    background-size: 12px 50px; */
     /*correr con ejes*/
     margin:auto;  /*centra*/
     opacity: 1.5; /*transparencia*/
     box-shadow: 0px 0px 10px 5px pink; /*sombra*/
    
}
.contenido{
    border:2px solid blue;
    width: 80vw;
    height: 50px;
    margin: auto;
    position: relative;

}
.div1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: fixed;
    top:0px;
    left: 0px;
}
.div2, .div3 {/*se llaman dos clases al mismo tiempo*/
     width: 150px;
    height: 150px;
    background-color:blue;

}
.div2{
    /*las dos de abajo no funcionan sin las de arriba*/
    position:absolute;
    top:0px;
    right: 0px;
}
.div3{
    background-color:blueviolet;
    position:sticky
    top 20px;
}

